<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles.css">

<body>
    <div id="showData"></div>
    <input type="button" onclick="addRow(1)" value="Add Address" />
    <input type="button" onclick="AddressTable()" value="Show Address Table" />
    <input type="button" onclick="AddressTable()" value="Show BillingInfo Table" />
    <input type="button" onclick="AddressTable()" value="Show Cart Table" />
    <input type="button" onclick="AddressTable()" value="Show Cartedproduct Table" />
    <input type="button" onclick="AddressTable()" value="Show Customer Table" />
    <input type="button" onclick="AddressTable()" value="Show Neworder Table" />
    <input type="button" onclick="AddressTable()" value="Show Product Table" />
    <input type="button" onclick="AddressTable()" value="Show Staff Table" />
    <input type="button" onclick="AddressTable()" value="Show wholesaler Table" />
</body>
<div id="addDialog" title="Add" style="visibility:hidden">
    
</div>
<div id="editDialog" title="Edit"></div>
<div id="deleteDialog" title="Delete"></div>
<script src="/static/controller.js"></script>