<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"href="/static/styles.css">
<body>
    <div id="showData">Loading</div>
    <input type="button" onclick="addAddress()" value="Add Address" />
    <input type="button" onclick="AddressTable()" value="Create Table From JSON" />
</body>
<div id="addDialog" title="Add"></div>
<div id="editDialog" title="Edit"></div>
<div id="deleteDialog" title="Delete"></div>
<script src="/static/controller.js"></script>